## Build an Xcode docset.
GENERATE_DOCSET = YES

## Exclude search field.
SEARCHENGINE = NO

## Exclude tree view.
GENERATE_TREEVIEW = NO

## Include all subdirectories.
RECURSIVE = YES

## The project name.
PROJECT_NAME = Swift

## Assume all entities are documented.
EXTRACT_ALL = YES

## Included static members.
EXTRACT_STATIC = YES

## Input files.
INPUT = ./apple/swift/include \
        ./apple/swift/lib \
        ./apple/swift/docs/doxygen.intro

# Example files.
## EXAMPLE_PATH = ./apple/../examples

## Include all subdirectories.
## EXAMPLE_RECURSIVE = YES

## Ignore the swift namespace prefix.
## IGNORE_PREFIX = swift::

## The HTML header for each generated HTML page.
## HTML_HEADER = ./apple/swift/docs/doxygen.header

## The HTML footer for each generated HTML page.
## HTML_FOOTER = ./apple/swift/docs/doxygen.footer

## The CSS for each generated HTML page.
## HTML_STYLESHEET = ./apple/swift/docs/doxygen.css

## Prevent latex output.
GENERATE_LATEX = NO

## Prevent index.html output.
## DISABLE_INDEX = YES

## Add includes that are not in input.
INCLUDE_PATH = ./../include

## Include all external classes.
ALLEXTERNALS = YES

## Allow undocumented types.
HIDE_UNDOC_RELATIONS = NO

## Generated output directory.
OUTPUT_DIRECTORY = ./output

## Docset bundle identifier.
DOCSET_BUNDLE_ID = com.calebd.Swift

## Docset publisher identifier.
DOCSET_PUBLISHER_ID = com.calebd

## Docset publisher name.
DOCSET_PUBLISHER_NAME = "Caleb Davenport"
